@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');
* {
    font-family: 'Lato', 'Poppins', 'Montserrat', 'Arial', 'Open-Sans', 'Roboto';
}
/* Reset some default styles */
body, h1, h2, h3, p, ul, li, img, div, main {
    margin: 0;
    padding: 0;
}

main {
    width: 100%; 
    height: 100vh;
    background-color: #F2F5F9;

    display: inline-flex;
    text-align: center;
    align-items: center;

   
}

.wrap {
    width: 100%;
    display: inline-block;
    text-align: center;
    
    
}

.card {
    display: inline-block;
    background-color: #FFFFFF;
    width: 375px;
    height: 500px;

    border-radius: 10px;




}

/* container for hero img and overlay shape */ 
.container {
    width: auto;
    height: auto;
    

    display: inline-flex;
    
    vertical-align: top;
    position: relative;
    text-align: center;
    justify-content: center;

    border-radius: inherit;

    background-color: black;
    
}


.over {
    position: absolute;
    display: inline;
    align-self: flex-end;
    margin: -3px;
    
}

.card-content {
    z-index: 1;
    text-align: left;
    background-color: white;
    padding: 0px 36px 0px 36px;
    
}

.card-content > p {
    font-size: 12px;
    line-height: 22px;
    color: rgb(103, 116, 137, .9); 
}

h2 {
    font-size: 22px;
    font-weight: normal;
}


.foot {
    font-family: inherit;
    border-top: 1px solid rgb(103, 116, 137, .2); 
    vertical-align: middle;
}

.grid {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 20% 70%;

    text-align: center;
    align-items: center;
    justify-items: center;

    margin: 16px 36px 16px 36px;
    padding-top: 10px;
    line-height: 14px;
   

}

.author-info {
    text-align: left;
}

.user-icon {
    height: 50px;
    border-radius: 200px;
    text-align: right;
}
